*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  
  vertical-align: middle;   /* Alinha com o texto */
  line-height: 1;           /* Remove altura extra */
  font-size: 20px;          /* Ajuste fino do tamanho */
  margin-right: 6px;        /* Espaço entre ícone e texto */
  position: relative;
  top: -3px;                 /* Ajuste final para descer 1–3px */
}

nav#menuLateral{
    width: 250px;
    height: 100vh;
    background-color: #ffffff;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
nav#menuLateral div#logo{
    width: 100%;
    height: 80px;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
}
nav#menuLateral ul{
    list-style: none;
    padding: 20px;
}

nav#menuLateral ul li{
    padding: 10px;
    margin-bottom: 10px;
}

nav#menuLateral ul li a{
    color: #1e1e1e;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(37 99 235);
    width: 100%;
    display: block;
}

nav#menuLateral ul li#index{
    background-color: #007bff33;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#situacaoAtual{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
    border-bottom: 2px solid #ccc;
}