*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  
  vertical-align: middle;   /* Alinha o ícone com o texto */
  line-height: 1;           /* Remove altura extra */
  font-size: 20px;          /* Ajuste fino do tamanho */
  margin-right: 6px;        /* Espaço entre ícone e texto */
  position: relative;
  top: -3px;                 /* Ajuste final para descer 1–3px */
}

span#burguer {
    display: block;
    color: #021f3f;
    background-color: #ffffffd0;
    box-shadow: 2px 2px 15px #0429524b;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    z-index: 1000;
    position: fixed;
    top: 20px;
    left: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

span#burguer:hover {
    color: #021f3f;
    font-size: 20px;
    top: 22px;
    left: 10px;
}

nav#menuLateral{
    width: 275px; /* Largura fixa do menu lateral */
    height: 100vh; /* Altura total da viewport */
    background-color: #ffffff;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

#menuLateral.desativar {
    display: none;
}

nav#menuLateral div#logo{
    width: 100%;
    height: 80px;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
}
nav#menuLateral ul{
    list-style: none;
    padding: 20px;
}

nav#menuLateral ul li{
    padding: 10px;
}

nav#menuLateral ul li a{
    color: #1e1e1e;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(37 99 235);
    padding: 8px;
    width: 100%;
    display: block;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

nav#menuLateral ul li a:hover{
    background-color: #e1f1ff;
    border-radius: 5px;
    padding: 8px 8px 8px 15px;
}